#! /bin/bash

### BEGIN INIT INFO
# Provides:          unicorn-<%= @env_abreviation %>-<%= @app %>
# Required-Start:    $local_fs $remote_fs $network $syslog
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: starts the unicorn app server
# Description:       starts unicorn environment <%= @env_abreviation %>
### END INIT INFO

USER=<%= @user %>
APP=<%= @app %>
ENVIRONMENT=<%= @environment %>
PATH=/home/$USER/.rbenv/bin:/home/$USER/.rbenv/shims:$PATH
DAEMON=unicorn
APP_PATH=/var/www/$APP/$ENVIRONMENT
DAEMON_OPTS="-c $APP_PATH/current/config/unicorn.rb -E $ENVIRONMENT -D"
NAME=unicorn
DESC="Unicorn app for $USER"
PID=/var/run/unicorn/pids/$APP.$ENVIRONMENT.pid

case "$1" in
  start)
        CD_TO_APP_DIR="cd $APP_PATH/current"
        START_DAEMON_PROCESS="bin/$DAEMON $DAEMON_OPTS"

        echo -n "Starting $DESC: "
        if [ `whoami` = root ]; then
          cd /home/$USER; su - $USER -c "$CD_TO_APP_DIR > /dev/null 2>&1 && $START_DAEMON_PROCESS"
        else
          $CD_TO_APP_DIR > /dev/null 2>&1 && $START_DAEMON_PROCESS
        fi
        echo "$NAME."
        ;;
  stop)
        echo -n "Stopping $DESC: "
        kill -QUIT `cat $PID`
        echo "$NAME."
        ;;
  restart)
        echo -n "Restarting $DESC: "
        kill -USR2 `cat $PID`
        echo "$NAME."
        ;;
  reload)
        echo -n "Reloading $DESC configuration: "
        kill -HUP `cat $PID`
        echo "$NAME."
        ;;

  rotate)
        echo -n "Rotating logs $DESC: "
        kill -USR1 `cat $PID`
        echo "$NAME."
        ;;

  *)
        echo "Usage: $NAME {start|stop|restart|reload}" >&2
        exit 1
        ;;
esac

exit 0
